force-app/main/default/flows/Notify_When_Item_Out_Of_Stock.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <actionCalls>
        <name>Send_Bell_Notification</name>
        <label>Send Bell Notification</label>
        <locationX>176</locationX>
        <locationY>780</locationY>
        <actionName>sendCustomNotification</actionName>
        <actionType>sendCustomNotification</actionType>
        <connector>
            <targetReference>Send_Email_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Email_Notification</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Item Out of Stock</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Notification_Recipient_Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Notification</name>
        <label>Send Email Notification</label>
        <locationX>480</locationX>
        <locationY>900</locationY>
        <actionName>InventoryNotificationEmailAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>itemId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>$Setup.Inventory_Notification_Settings__c.Recipient_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientUserId</name>
            <value>
                <elementReference>$Setup.Inventory_Notification_Settings__c.Recipient_User__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InventoryNotificationEmailAction</nameSegment>
    </actionCalls>
    <assignments>
        <name>Add_Notification_Recipient</name>
        <label>Add Notification Recipient</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>Notification_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Recipient_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Bell_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Bell_Recipient</name>
        <label>Has Bell Recipient</label>
        <locationX>176</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active User</defaultConnectorLabel>
        <rules>
            <name>Active_User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recipient_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Type</targetReference>
            </connector>
            <label>Active User Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Notification_Type</name>
        <label>Has Notification Type</label>
        <locationX>176</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Notification Type Missing</defaultConnectorLabel>
        <rules>
            <name>Notification_Type_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Notification_Recipient</targetReference>
            </connector>
            <label>Notification Type Found</label>
        </rules>
    </decisions>
    <description>Sends Bell and email notifications when an Item transitions to zero available quantity.</description>
    <interviewLabel>Notify When Item Out Of Stock {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify When Item Out Of Stock</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>176</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Out_of_Stock_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recipient_User</name>
        <label>Get Recipient User</label>
        <locationX>176</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Bell_Recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Inventory_Notification_Settings__c.Recipient_User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Recipient_User</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AvailableQuantity__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Item__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The item &quot;{!$Record.Name}&quot; is out of stock. Please review inventory and take the necessary action.</text>
    </textTemplates>
    <variables>
        <name>Notification_Recipient_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>

